/* Here is your custom css styles. */

/* 深色半透明导航栏 */
nav, nav.bg-color, #headNav {
    background-color: rgba(0, 0, 0, 0.7) !important;
}

/* 紫色渐变遮罩 */
.bg-cover.theme-purple:after {
    background: rgba(103, 58, 183, 0.7) !important;
    background: linear-gradient(45deg, rgba(103, 58, 183, 0.75) 0%, rgba(103, 58, 183, 0.6) 100%) !important;
}

/* 紫红色渐变遮罩 */
.bg-cover.theme-pink:after {
    background: rgba(194, 24, 91, 0.7) !important;
    background: linear-gradient(45deg, rgba(194, 24, 91, 0.75) 0%, rgba(194, 24, 91, 0.6) 100%) !important;
}
